/* import the google api font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* will realistically change these colors to be more web friendly */
*,
*::before,
*::after {
  margin: 0; /*supress browser defaults and select alternative box model  */
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* set variables for colors */
  --bg-primary: #d4d8f0;
  --bg-secondary: #232946;
  --font-color-primary: #232946;
  --font-color-secondary: #fffffe;
  --backup-color-primary: #eebbc3;
  --backup-color-secondary: #b8c1ec;
}

body {
  min-height: 100%;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* style the nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 45px;
  background: var(--bg-secondary);
}

.navbar h1 {
  color: var(--font-color-secondary);
  font-weight: 700;
  font-size: 30px;
  padding: 0 10px;
}

.navbar nav ul {
  display: flex; /* if this doesn't work use align items and justify content */
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 18px;
  margin-right: 25px;
  transition: color 0.3 ease; /* animation must be triggered by an event */
}
/* the event that triggers line 54 and specify outcome of transition */
.navbar ul li:hover a {
  color: var(--backup-color-secondary);
}

/* remove margin of rightmost list item: see line 53 */
.navbar ul li:last-child a {
  margin-right: 0;
}

hr {
  background-color: var(--bg-secondary);
  height: 3px;
  border: 0;
}


.resume-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.resume-section .contact-info {
  text-align: left;
}

.resume-section h2 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0 30px;
}

.resume-section .contact-info p {
  font-size: 17px;
  text-align: left;
  padding: 0 30px;
}

.resume-section .objective-statement {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
/* also the objective statement */
.resume-section h3 {
  font-size: 20px; /* Adjust as needed */
  text-decoration: underline;
}

.resume-section .objective-statement {
  text-decoration: none;
  text-align: center;
}

.resume-section .professional-exp {
  margin-top: 30px;
}
.resume-section .professional-exp h3 {
  padding: 0px 30px;
}

.resume-section .professional-exp .job-list {
  margin-top: 0px;
  padding: 20px 30px;
}

.resume-section .professional-exp .job-list p {
  font-size: 17px;
}

.resume-section .educational-div {
  padding-left: 30px;
  margin-top: 30px;
}

.resume-section .educational-exp {
  border: 1px solid;
  margin-top: 20px;
  width: 75%;
}

.resume-section .educational-exp th {
  font-size: 17px;
  border: 1px solid;
}

.resume-section .educational-exp td {
  font-size: 17px;
  border: 1px solid;
  text-align: center;
}

.hobbies-div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 30px;
}

.hobbies-div h3 {
  font-size: 20px; /* Adjust as needed */
  text-decoration: underline;
}

.hobbies-div p {
  font-size: 17px; /* Adjust as needed */
}

footer {
  margin-top: auto;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  padding: 0 30px;
  color: var(--font-color-secondary);
}

.nav-footer li {
  list-style-type: none;
}

.nav-footer li a {
  text-decoration: underline;
  color: var(--font-color-secondary);
  font-size: 18px;
  transition: color 0.3 ease; /* animation must be triggered by an event */
}

.nav-footer li:hover a {
  color: var(--backup-color-secondary);
}
